* {
margin: 0;
padding: 0;
}
body{
border:5px solid #000;
width: 1290px;
margin: 10px;
padding: 20px; 
}

body {
font-size: 24px; 
font-family: "Times New Roman", Times, serif;
}
img {
width: 200px;
height: auto;
background-color: #039dfc;
border: 3px solid #333;
position: relative;
left: 1000px;
top: 50px;
margin:0;
border-radius: 100px;
}
.head {
width: 1250px;
height: auto;
background-color: #039dfc;
margin: 0;
padding: 20px;
}
.head h1,
.head p {
text-align: left;
}
.about {
width: 1250px;
height: auto;
background-color: #68f3f7;
position: relative;
margin: 0;
padding: 20px;
}
.educ {
width: 1250px;
height: auto;
background-color: #039dfc;
position: relative;
margin: 0;
padding: 20px;
}
.indent {
text-indent: 120px;
}

.skill {
width: 1250px;
height: auto;
background-color: #68f3f7;
position: relative;
margin: 0;
padding: 20px;
}
.project {
width: 1250px;
height: auto;
background-color: #039dfc;
position: relative;
margin: 0;
padding: 20px;
}
.contact {
width: 1250px;
height: auto;
background-color: #68f3f7;
position: relative;
margin: 0;
padding: 20px;
}
.comment {
width: 1250px;
height: auto;
background-color: #039dfc;
position: relative;
margin: 0;
padding: 20px;
}